*,
*::before *::after {
    box-sizing: border-box;
}
.a1 {
    border: solid 3px #aca8a8;
    background: rgb(174, 180, 27);
    background: linear-gradient(90deg, rgba(174, 180, 27, 1) 0%, rgba(43, 213, 80, 1) 46%, rgba(0, 154, 185, 1) 100%);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 150px auto;
    justify-content: center;
    font-size: larger;
}
.a2 {
    border: solid 3px #aca8a8;
    background: rgb(174, 180, 27);
    background: linear-gradient(90deg, rgba(174, 180, 27, 1) 0%, rgba(43, 213, 80, 1) 46%, rgba(0, 154, 185, 1) 100%);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 150px auto;
    justify-content: center;
    font-size: larger;
}
.main-footer {
    background: rgb(174, 180, 27);
    background: linear-gradient(90deg, rgba(174, 180, 27, 1) 0%, rgba(43, 213, 80, 1) 46%, rgba(0, 154, 185, 1) 100%);
    width: 100%;
    height: 200px;
    z-index: -1;
    position: absolute;
    bottom: 0;
}
.first-footer {
    position: absolute;
    bottom: 40px;
    left: 50px;
    font-size: larger
}
.main-header {
    background: rgb(174, 180, 27);
    background: linear-gradient(90deg, rgba(174, 180, 27, 1) 0%, rgba(43, 213, 80, 1) 46%, rgba(0, 154, 185, 1) 100%);
    width: 100%;
    height: 100px;
}
.part-first {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.part-first-1 {
    width: 300px;
    height: 300px;
    background-color: aqua;
}
.part-first-2 {
    width: 300px;
    height: 300px;
    background-color: rgb(44, 189, 87);
    position: relative;
    top: 70px;
    left: 50px;
}
.part-first-3 {
    width: 300px;
    height: 300px;
    background-color: rgb(243, 170, 75);
}
.part-second {
    background-color: rgb(114, 110, 110);
    width: 750px;
    margin: 100px auto;

}
.part-second-0 {
    position: fixed;
    background-color: rgb(209, 97, 97);
    width: 750px;
    height: 40px;
}
.part-second-1 {
    width: 300px;
    height: 300px;
    background-color: rgb(131, 133, 9);
}
.part-second-2 {
    width: 300px;
    height: 300px;
    background-color: rgb(111, 151, 151);
}
.part-second-3 {
    width: 300px;
    height: 300px;
    background-color: rgb(158, 15, 110);
}

.part-second-4 {
    width: 300px;
    height: 300px;
    background-color: rgb(166, 255, 0);
}
.part-third-img {
width: 45px;
height: 40px;
position: sticky;
bottom: 100px;
left: 50px;
border: 1px;
border-radius: 50%;
z-index: 1;
}
.part-fourth {
    display: flex;
    margin-top: 60px;
}
.part-fourth-1 {
    width: 300px;
    height: 300px;
    background-color: rgb(0, 209, 209);
    z-index: 1;
}
.part-fourth-2 {
    width: 300px;
    height: 300px;
    background-color: rgb(92, 216, 140);
    z-index: 2;
}
.part-fourth-3 {
    width: 300px;
    height: 300px;
    background-color: rgb(206, 67, 171);
    z-index: 3;
}
.dz9-1 {
    width: 300px;
    height: 300px;
    background-color: darksalmon;
    margin: auto;
}
.dz9-1:hover {
    animation-name: part-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes part-1 {
    0% {
        background-color: darksalmon;
        transform: rotate(0deg);
    }
    25% {
        background-color: chartreuse;
        transform: rotate(90deg);
    }
    500% {
        background-color: aqua;
        transform: rotate(180deg);
    }
    750% {
            background-color: rgb(146, 62, 34);
            transform: rotate(270deg);
        }
    100% {
        background-color: darksalmon;
        transform: rotate(360deg);
    }
}
.dz9-2 {
    width: 700px;
    height: 320px;
    border: #000 solid 3px;
    margin: auto;
}
@keyframes part-2 {
 0% {
    margin-top: 10px;
    margin-left: 10px;
 }
25% {
    margin-top: 80px;
    margin-left: 175px;
}
50% {
    margin-top: 160px;
    margin-left: 350px;
}
50% {
    margin-top: 240px;
    margin-left: 525px;
}
50% {
    margin-top: 280px;
    margin-left: 630px;
}
}
.dz9-2-p {
    font-size: x-large;
    animation-name: part-2;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.dz9-3 {
    display: flex;
    justify-content: end;
}
.bullet {
    position: relative;
    top: 35px;
    width: 70px;
    height: 40px;
}
.gun {
    width: 200px;
    height: 150px;
}
@keyframes gun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }  
}
@keyframes bullet {
    0% {
        display: block;
    }
    25% {
        margin-right: 100px;
    }
    50% {
      margin-right: 200px;  
    }
    75% {
            margin-right: 300px;
    }
    100% {
            margin-right: 400px;
            display: none;
    }
}
.gun:active {
    animation-name: gun;
    animation-duration: 200ms;
    animation-timing-function: linear;
}
.bullet:active {
    animation-name: bullet;
    animation-duration: 3s;
    animation-timing-function: linear;
}
.dz10-1 {
    width: 300px;
    height: 300px;
    background-color: rgb(200, 238, 112);
    margin: auto;
    margin-top: 40px;
}
@keyframes skew {
    0% {
        transform: skewX(0);
        background-color: rgb(200, 238, 112);
    }
    25% {
        transform: skewY(45deg);
        background-color: rgb(214, 88, 88);
    }
    50% {
        transform: skewY(0);
        transform: skewX(65deg);
        background-color: rgb(76, 192, 192);
    }
75% {
    transform: skewX(-30deg);
    background-color: rgb(76, 192, 192);
}
    100% {
        transform: skew(0);
        background-color: rgb(95, 82, 67);
    }
}
.dz10-1:hover {
    animation-name: skew;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dz10-2 {
    width: 300px;
    height: 300px;
    background-color: rgb(211, 152, 226);
    margin: 30px auto;
    border-radius: 50%;
}
@keyframes scale {
    0% {
        transform: scale(1);
        background-color:rgb(211, 152, 226);
    }
    25% {
        transform: scale(0.8, 0.5);
        background-color: rgb(132, 226, 127);
    }
    50% {
        transform: scale(0.3, 1.5);
        background-color: blanchedalmond;
    }
    75% {
        transform: scale(1.7, 0.8);
        background-color: rgb(147, 207, 235);
    }
    100% {
        transform: scale(1);
        background-color: rgb(211, 152, 226);
    }
}
.dz10-2:hover {
    animation-name: scale;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dz10-3 {
    display: flex;
    justify-content: space-around;
}
.dz10-3-1 {
    width: 300px;
    height: 300px;
    background-color: rgb(61, 91, 129);
}
@keyframes translate-1 {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(23px, -70px);
    }
}
.dz10-3-2 {
    width: 300px;
    height: 300px;
    background-color: rgb(139, 50, 240);
}

@keyframes translate-2 {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(50px, 39px);
    }
}
.dz10-3-3 {
    width: 300px;
    height: 300px;
    background-color: rgb(9, 153, 21);
}

@keyframes translate-3 {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-110px, 20px);
    }
}
.dz10-3-1:hover {
    animation-name: translate-1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dz10-3-2:hover {
    animation-name: translate-2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dz10-3-3:hover {
    animation-name: translate-3;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}